{% extends '../base.html' %}

{% block title %}Home{% endblock %}


{% block content %}
<div class="header" style="margin-bottom: 3rem;">
    <div class="text-center">
        <h1>Hi, Welcome To Eshopping</h1>
    </div>
</div>
<div class="body">
    <div class="container">
        <div class="row">
            {% for product in Products %}
            <div class="col-md-4">
                <a href="{% url 'product' product.id %}" style="text-decoration: none; color: #000;">
                    <div class="card">
                        <div class="card-header">
                            {{product.date|date:"d-m-Y"}}
                        </div>
                        <div class="card-body">
                          <h5 class="card-title">{{product.title}}</h5>
                          <p class="card-text">
                            {% if product.description|length > 30 %}
                                <p>{{ product.description|slice:"30" }}...</a></p>
                            {% else %}
                                <p>{{ product.description }}</p>
                            {% endif %}
                          </p>
                        </div>
                      </div>
                </a>
            </div>



                     <h4 style="margin-left: 10%;"><a href="{% url 'product' product.id %}">{{product.title}}</a></h4>
                     <p style="margin-left: 10%;">{{product.date|date:"d-m-Y"}}</p>

            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}