{% extends '../base.html' %}
{% load humanize %}
{% block title %}{{ product.title }}{% endblock %}

{% block content %}
<style>
    body{background-color: #fff!important;}
</style>
<div class="header container pb-3 pt-5">
    <h2 class="">{{ product.title }}</h2>
</div>
<div class="body container">
    <div class="row">
        <div class="col-md-5">
            {% if product.image %}
            <div class="text-center pb-2">
                <img src="{{product.image.url}}" width="100%" />
            </div>
            {% else %}
            <div class="text-center pb-2">
                <h3 class="text-secondary">Image is not exist!</h3>
            </div>

            {% endif %}
        </div>
        <div class="col-md-7">
            <h4 class="pb-3">Type: {{ product.kind }}</h4>
            <h4 class="pb-3">Cost: VND {{ product.cost|intcomma }}</h4>
            <h4>Description</h4>
            <p>{{ product.description|linebreaks }}</p>
            <button class="btn btn-success">Add to cart</button>
        </div>
    </div>
</div>

<div class="container">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
          <li class="breadcrumb-item active" aria-current="page"><a href="{% url 'product' product.id %}">
            {% if product.title|length > 25 %}
                {{ product.title|slice:"25" }}...
            {% else %}
                {{ product.title }}
            {% endif %}
        </a></li>
        </ol>
      </nav>
</div>

{% endblock %}